<div class="postContent">
  <h2><%= title %></h2>
  <img src="<%= image %>" alt="<%= title %>" />

  <div class="info">
    <p><span>Country: </span><strong><%= country %></strong></p>

    <p class="price">
      <span> Price: </span>
      <strong> <%= price %> </strong>
    </p>

    <span> Creation time: <%= date %> </span>
  </div>
</div>
