<div class="postContent">
    <h2>
        <%= title %>
    </h2>
    <img src="<%= image %>" alt="<%= title %>">

    <div class="info">
        <p class="price">
            price:
            <strong>
                <%= price %>
            </strong>
        </p>

        <span>
            creation time:
            <%= date %>
        </span>
    </div>
</div>